/* Your custom styles */
.carousel-caption {
    bottom: 35%;
}
.pog .pricing-card .price .number:after {
    content: "/пог.м";
    font-size: 1.5rem;

}
.sizkm .pricing-card .price .number:after {

    font-size: 1.5rem;

}
.siz .pricing-card .price .number{
    font-size: 4rem;

}
.carousel .carousel-inner .img {
    background-size: cover;

}

@media (min-width: 992px){
.jarallax-home {
    background-image: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}}